.gradle/
.kotlin/
.tools/
build/
local.properties
*.iml
.idea/
app/build/
captures/
*.apk
*.aab
node_modules/
npm-debug.log*
firebase-debug.log
.firebase/
firestore-debug.log
storage-debug.log
ui-debug.log
